<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%load static%} 
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <title>Document</title>
</head>
<body>
    <div class="register-form-section">
        <div class="register-form-container">
            <div class="form">
               <form action="{% url 'register' %}" method="POST">
                {% csrf_token %}
                <input type="text" name="username" id="register-username" required placeholder="Username"><br><br>
               
                <input type="email" name="email" id="register-email" required placeholder="email"><br><br>
                
                <input type="password" name="password" id="register-password" required placeholder="password"><br><br>
                <div class="login-link">
                <h4>Already have account <a id="lo-link" href="{% url 'login' %}">Login</a>  </h4>
                </div>
                <button type="submit" id="register-btn">Signin</button> 
                
              </form>
             
            </div>
        </div>
        {%if messages%}
        {% for message in messages %}
       <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
       {% endfor %}
        {% endif %}
    </div>
</body>
</html>